<!doctype html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/default_layout :: layout(~{::title}, ~{::section})}"
>
  <head>
    <title>회원가입</title>
  </head>
  <body>
    <section
      class="flex items-center justify-center min-h-[calc(100vh-15rem)] py-12"
    >
      <form
        action="/member/join"
        method="post"
        class="p-6 space-y-4 w-full max-w-md bg-white rounded-lg shadow"
        onsubmit="
          validateJoinForm(this);
          return false;
        "
      >
        <h1 class="text-2xl font-bold text-center">Sign Up</h1>

        <!-- ID -->
        <fieldset class="fieldset">
          <legend class="fieldset-legend">아이디</legend>
          <label class="input w-full">
            <input
              type="text"
              placeholder="아이디를 입력해주세요"
              required
              pattern="[A-Za-z][A-Za-z0-9\-]*"
              minlength="3"
              maxlength="30"
              name="username"
            />
          </label>
        </fieldset>

        <!-- Password -->
        <fieldset class="fieldset">
          <legend class="fieldset-legend">비밀번호</legend>
          <label class="input w-full">
            <input
              type="password"
              required
              placeholder="비밀번호를 입력해주세요"
              minlength="8"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              name="password"
            />
          </label>
        </fieldset>

        <!-- Confirm Password -->
        <fieldset class="fieldset">
          <legend class="fieldset-legend">비밀번호 확인</legend>
          <label class="input w-full">
            <input
              type="password"
              required
              placeholder="비밀번호를 다시 입력해주세요"
              minlength="8"
              name="passwordConfirm"
            />
          </label>
        </fieldset>

        <!-- Email -->
        <fieldset class="fieldset">
          <legend class="fieldset-legend">이메일</legend>
          <label class="input w-full">
            <input
              type="email"
              placeholder="이메일을 입력해주세요"
              required
              name="email"
            />
          </label>
        </fieldset>

        <!-- Submit -->
        <button type="submit" class="btn btn-neutral w-full">가입</button>

        <!-- Divider -->
        <div class="divider">OR</div>

        <!-- Social Login -->
        <div class="space-y-2">
          <a href="/oauth2/authorization/google" class="btn btn-outline w-full">
            <img
              src="https://www.svgrepo.com/show/475656/google-color.svg"
              class="w-5 h-5 mr-2"
              alt="Google"
            />
            Google
          </a>
          <a
            href="/oauth2/authorization/kakao"
            class="btn w-full bg-yellow-400 text-black hover:bg-yellow-500"
          >
            <img
              src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
              class="w-5 h-5 mr-2"
              alt="Kakao"
            />
            Kakao
          </a>
        </div>
      </form>

      <script>
        function validateJoinForm(form) {
          form.username.value = form.username.value.trim();
          if (form.username.value.length === 0) {
            alert("아이디를 입력해주세요.");
            form.username.focus();
            return;
          }

          form.password.value = form.password.value.trim();
          if (form.password.value.length === 0) {
            alert("비밀번호를 입력해주세요.");
            form.password.focus();
            return;
          }

          form.passwordConfirm.value = form.passwordConfirm.value.trim();
          if (form.passwordConfirm.value.length === 0) {
            alert("비밀번호 확인을 입력해주세요.");
            form.passwordConfirm.focus();
            return;
          }

          form.email.value = form.email.value.trim();
          if (form.email.value.length === 0) {
            alert("이메일을 입력해주세요.");
            form.email.focus();
            return;
          }

          form.submit();
        }
      </script>
    </section>
  </body>
</html>
