<link href="https://cdn.jsdelivr.net/npm/daisyui@5/dist/full.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
<form action="/signup" method="post" class="p-6 space-y-4">
    <h1 class="text-2xl font-bold">Sign Up</h1>

    <fieldset class="fieldset">
        <legend class="fieldset-legend">ID</legend>
        <label class="input validator">
            <input
                    type="text"
                    placeholder="Enter your ID"
                    required
                    pattern="[A-Za-z][A-Za-z0-9\-]*"
                    minlength="3"
                    maxlength="30"
                    name="username"
            />
        </label>
        <p class="validator-hint hidden">Check your ID.</p>
    </fieldset>


    <fieldset class="fieldset">
        <legend class="fieldset-legend">Password</legend>
        <label class="input validator">
            <input type="password" required placeholder="Enter your Password"
                   minlength="8"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   name="password" />
        </label>
        <p class="validator-hint hidden">Check your password.</p>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend">비밀번호 확인</legend>
        <label class="input validator">
            <input type="password" required placeholder="Confirm Password"
                   minlength="8"
                   name="passwordConfirm" />
        </label>
        <p class="validator-hint hidden">비밀번호 확인을 확인 후 입력해주세요.</p>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Email</legend>
        <label class="input validator">
            <input type="email" placeholder="Enter your Email" required name="email" />
        </label>
        <div class="validator-hint hidden">Check your email.</div>
    </fieldset>

    <button type="submit" class="btn btn-neutral">Join</button>
</form>

<script>
    const form = document.querySelector("form");
    form.addEventListener("submit", function(e) {
      const pw = form.password.value;
      const pwConfirm = form.passwordConfirm.value;
      if (pw !== pwConfirm) {
        e.preventDefault();
        alert("비밀번호가 일치하지 않습니다.");
      }
    });
</script>
</body>
</html>
