<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:fragment="head-extras">
      <!-- 페이지별 head 요소 (메타 태그, 스타일, 스크립트 등) -->
    </th:block>
  </head>
  <body>
    <header class="navbar bg-base-100 shadow-sm" th:fragment="headerFragment">
      <div class="container h-[80px] mx-auto flex items-center">
        <div class="logo-box">
          <a class="text-xl font-bold" th:href="@{/}">Blog</a>
        </div>
        <nav class="menu-box ml-auto">
          <ul class="flex gap-4">
            <li><a th:href="@{/}">홈으로</a></li>
            <li><a th:href="@{/posts/list}">게시물 리스트</a></li>
            <li><a th:href="@{/member/join}">회원가입</a></li>
            <li><a th:href="@{/member/login}">로그인</a></li>
            <!-- 필요에 따라 더 많은 내비게이션 링크를 추가하세요 -->
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
